* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.me{
    display: grid; 
    place-items: center;
    height: 100vh;

}

.mean {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: -100px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4e5254;
    border-radius: 10px;
  }
      
.men{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 50px;
  
}

.menn{
    background-color:red;
    color: black;
    text-align:center;
    width:300px;
    height:300px;
    align-content:center;
    font-size:5rem;
    border:none;
    border-radius: 150px;
    cursor:pointer;
}

.mem{
    align-items: center;
    width:300px;
    height:300px;
    background-image: url('fantastic-four-2005.jpg');
    border-radius: 10px;
    cursor:pointer;
    overflow: hidden;
    background-size: cover;
    
}

.up{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #301534;
}

.down{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color:#F9EDFF;
  position: absolute;
}

.middle{
  display:grid;
  width: 500px;
  height: 500px;
  background-color:#FFFFFF;
  position: relative;
  margin-top: -100px;
  border-radius: 10px;
  margin-left: 30%;
  overflow: hidden;
  padding: 20px;
}

.middle .seperate{
  display: flex;
  justify-content: left;
  gap: 30px;
  
}

.white{
  color:red;
}

.middle .text{
  font-size: 1.5rem;
  color: #341938;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS';
  font-weight: bold;
}


.middle .bi-star-fill{
  color:#A724E6;
  font-size: 1.5rem;
}

/* .middle .side{
  display: grid;
  justify-content: space-evenly;
  gap: 0px;
} */
.middle .bi-plus-circle {
  color:#B928EE;
  font-size: 1.0rem;
  float: right;
  top: 5px;
  cursor: pointer;
}

.bi-dash-circle {
  color:black;
  font-size: 1.0rem;
  float: right;
  top: 5px;
  cursor: pointer;
}

.first .para{
  font-size: 1rem;
  padding-top: 10px;
  color: #ABA0AB;
  border-bottom: 2px solid #FAEDFF;
  padding-bottom: 10px;
  display: none;
}


/* #second .para{
  font-size: 1rem;
  padding-top: 10px;
  color: #ABA0AB;
  border-bottom: 2px solid #FAEDFF;
  padding-bottom: 10px;
}

#third .para{
  font-size: 1rem;
  padding-top: 10px;
  color: #ABA0AB;
  border-bottom: 2px solid #FAEDFF;
  padding-bottom: 10px;
}

#fourth .para{
  font-size: 1rem;
  padding-top: 10px;
  color: #ABA0AB;
  border-bottom: 2px solid #FAEDFF;
  padding-bottom: 10px;
} */